name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }} ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-12, macos-14, windows-2019]
        arch: [x86_64, aarch64]
        exclude:
          - os: macos-12
            arch: aarch64
          - os: macos-14
            arch: x86_64
          - os: windows-2019
            arch: aarch64
    steps:
      - name: Debug output memory and processes
        if: runner.os == 'Linux'
        uses: catchpoint/workflow-telemetry-action@v2
        with:
          job_summary: true
      - uses: actions/checkout@v4
      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3.2.0
        with:
          platforms: arm64
      - name: Setup Rust
        if: runner.os != 'Linux'
        uses: hecrj/setup-rust-action@v2
        with:
          profile: minimal
      - name: Setup Rust in containers
        if: runner.os == 'Linux'
        run: |
          echo "CIBW_BEFORE_ALL=curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --profile minimal" >> $GITHUB_ENV
          echo "CARGO_HOME=/usr/local/" >> $GITHUB_ENV
      #- name: Limit parallel build jobs with QEMU builds
      #  if: runner.os == 'Linux' && matrix.arch == 'aarch64'
      #  run: echo "CARGO_BUILD_JOBS=1" >> $GITHUB_ENV
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.19.1
        env:
          CIBW_ARCHS_LINUX: ${{ matrix.arch }}
          CIBW_ENVIRONMENT_PASS_LINUX: CARGO_BUILD_JOBS CIBW_BEFORE_ALL CARGO_HOME
      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.arch }}
          path: ./wheelhouse/*.whl
          if-no-files-found: error
  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build SDist
        run: pipx run build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz
          if-no-files-found: error
  upload_all:
    needs: [build_wheels, make_sdist]
    runs-on: ubuntu-latest
    environment:
      name: release
      url: https://pypi.org/p/simplefst
    permissions:
      contents: write
      id-token: write
    if: github.ref_type == 'tag'
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.9.0
      - name: Create Github Release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: ${{ github.ref_name }}
          tag_name: ${{ github.ref }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
